<!DOCTYPE html>
<html lang="en" manifest="cache-manifest.appcache">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta property="og:title" content="Exam Practice App" />
        <meta name="description" content="Exam Practice App is an application that would help students study for their exams. Basically, the students will encode their terminologies and meanings to dictionary section and the application will automatically will make a practice exam out of those encoded data." />
        <meta property="og:description" content="Exam Practice App is an application that would help students study for their exams. Basically, the students will encode their terminologies and meanings to dictionary section and the application will automatically will make a practice exam out of those encoded data." />
        <meta name="author" content="Neimark Junsay Braga" />
        <meta name="keywords" content="Exam, Practice, App, Reviewer" />
        <meta property="og:type" content="website">
        <meta property="fb:app_id" content="114843952515420" />
        <meta property="og:url" content="https://neimarkbraga.github.io/exam-practice-app" />
        <meta property="og:image" content="https://neimarkbraga.github.io/exam-practice-app/images/banner.png" />
        <title>Exam Practice App</title>

        <!--favicon-->
        <link rel="icon" type="image/x-icon" href="favicon.ico" />

        <!--stylesheets-->
        <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/exam-practice/css/exam-practice.css" />

        <!--angular-->
        <script type="application/javascript" src="assets/angular/angular.min.js"></script>
        <script type="application/javascript" src="assets/angular-route/angular-route.min.js"></script>
        <script type="application/javascript" src="assets/ngstorage/ngStorage.min.js"></script>
        <script type="application/javascript" src="assets/ng-file-upload/ng-file-upload.min.js"></script>

        <!--bootstrap-->
        <script type="application/javascript" src="assets/jquery/jquery.min.js"></script>
        <script type="application/javascript" src="assets/popper/umd/popper.min.js"></script>
        <script type="application/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="assets/bootstrap-dialogs-neimark/bootstrap-dialogs-neimark.min.js"></script>

        <!--exam practice-->
        <script type="application/javascript" src="assets/exam-practice/js/exam-practice.js"></script>

        <!--ANGULAR COMPONENTS-->
        <!--app [add modules here]-->
        <script type="application/javascript" src="app/app.js"></script>

        <!--app route-->
        <script type="application/javascript" src="app/appRoutes.js"></script>

        <!--app factories-->
        <script type="application/javascript" src="app/appFactories.js"></script>

        <!--app controllers-->
        <script type="application/javascript" src="app/controllers/mainCtrl.js"></script>
        <script type="application/javascript" src="app/controllers/dictionariesCtrl.js"></script>
        <script type="application/javascript" src="app/controllers/dictionaryCtrl.js"></script>
        <script type="application/javascript" src="app/controllers/settingsCtrl.js"></script>
        <script type="application/javascript" src="app/controllers/examCtrl.js"></script>
    </head>
    <body class="d-flex flex-column" ng-app="ExamPracticeApp" ng-controller="mainCtrl as main">
        <!--header-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
                <div class="container">
                    <a class="navbar-brand" href="#/">{{main.name}}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {{(navLink.href == main.currentPath)? 'active':''}}" ng-repeat="navLink in main.navLinks track by $index"><a class="nav-link" href="#{{navLink.href}}">{{navLink.name}}</a></li>
                        </ul><span class="navbar-text">By {{main.author}}</span>
                    </div>
                </div>
            </nav>
        </header>

        <!--main-->
        <main>
            <div class="container">
                <ng-view>Loading...</ng-view>
            </div>
        </main>

        <!--footer-->
        <footer class="container pb-2 pt-2">
            &copy; {{main.year}} {{main.name}}
        </footer>

        <!--templates-->
        <script type="text/ng-template" id="home.html">
            <h1>{{main.name}}</h1>
            <p>{{main.description}}</p>
            <div class="text-center">
                <img class="img-fluid rounded" src="images/banner.png" alt="Banner Image" />
            </div>
            <div class="pb-4"></div>
        </script>
        <script type="text/ng-template" id="dictionaries.html">
            <h4>Dictionaries</h4>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Dictionary Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dictionary in dictionaries.library track by $index">
                        <td>{{dictionary.name}}</td>
                        <td class="text-right">
                            <a href="#/exam/{{$index}}" class="btn btn-sm btn-outline-success mt-1 mb-1">Start Practice</a>
                            <button type="button" ng-click="dictionaries.renameDictionary($index);" class="btn btn-sm btn-outline-info mt-1 mb-1">Rename</button>
                            <a href="#/dictionary/{{$index}}" class="btn btn-sm btn-outline-dark mt-1 mb-1">Manage Items <span class="badge badge-dark">{{dictionary.items.length}}</span></a>
                            <button type="button" ng-click="dictionaries.deleteDictionary($index);" class="btn btn-sm btn-outline-danger mt-1 mb-1">Delete</button>
                        </td>
                    </tr>
                    <tr ng-hide="dictionaries.library.length > 0">
                        <td colspan="2" class="text-center">You have no dictionary yet. Add new or import a json file.</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-right">
                            <button type="button" ng-click="dictionaries.addNewDictionary();" class="btn btn-primary mt-1 mb-1">Add New Dictionary</button>
                            <button ng-hide="dictionaries.library.length > 0"
                                    type="button"
                                    ngf-select="dictionaries.importDictionaries($file);"
                                    data-ngf-multiple="false"
                                    data-ngf-pattern="'.json'"
                                    data-ngf-accept="'.json'"
                                    class="btn btn-outline-dark mt-1 mb-1">Import Data</button>
                            <a ng-show="dictionaries.library.length > 0" ng-click="dictionaries.exportDictionaries();" href="#" class="btn btn-dark mt-1 mb-1 export-dictionary-data-button">Export Data</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </script>
        <script type="text/ng-template" id="settings.html">
            <h4>Settings</h4>
            <hr />

            <div class="container">
                <div class="pb-4"></div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Criteria</th>
                                <th>Percentage</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Multiple Choice</td>
                                <td>
                                    <label>
                                        <input type="number" ng-model="settings.value.criteria.multiple_choice" min="0" max="100" class="form-control" />
                                    </label> %
                                </td>
                            </tr>
                            <tr>
                                <td>True or False</td>
                                <td>
                                    <label>
                                        <input type="number" ng-model="settings.value.criteria.true_or_false" min="0" max="100" class="form-control" />
                                    </label> %
                                </td>
                            </tr>
                            <tr>
                                <td>Matching Type</td>
                                <td>
                                    <label>
                                        <input type="number" ng-model="settings.value.criteria.matching_type" min="0" max="100" class="form-control" />
                                    </label> %
                                </td>
                            </tr>
                            <tr>
                                <td>Identification</td>
                                <td>
                                    <label>
                                        <input type="number" ng-model="settings.value.criteria.identification" min="0" max="100" class="form-control" />
                                    </label> %
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>
                                    <label>
                                        <input class="form-control {{(settings.criteriaTotal() != 100)?'bg-danger text-white':''}}" type="number" ng-value="settings.criteriaTotal()" disabled="disabled" min="0" max="100" />
                                    </label> %
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right" colspan="2">
                                    <button data-ng-disabled="!((settings.criteriaTotal() == 100) && settings.changed())" ng-click="settings.saveChanges();" type="button" class="btn btn-success">Save Changes</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="dictionary.html">
            <h4>{{dictionary.currentDictionary.name}} <small class="text-secondary">Dictionary</small></h4>
            <hr />
            <form ng-submit="dictionary.saveItems();">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Term</th>
                            <th colspan="2">Meaning</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in dictionary.items track by $index">
                        <td class="w-25">
                            <label class="w-100">
                                <input type="text" ng-required="$index == 0" ng-model="item.term" class="form-control" />
                            </label>
                        </td>
                        <td class="w-75">
                            <label class="w-100">
                                <input type="text" ng-model="item.meaning" required="required" class="form-control" />
                            </label>
                        </td>
                        <td>
                            <button type="button" ng-click="dictionary.deleteItem($index);" tabindex="-1" class="btn btn-danger">&times;</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">
                                <button type="button" ng-click="dictionary.items.push({})" class="btn btn-primary">Add Row</button>
                                <button type="submit" data-ng-disabled="!dictionary.itemsChanged();" class="btn btn-success">{{(dictionary.itemsChanged())? 'Save Changes':'Saved'}}</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </script>
        <script type="text/ng-template" id="exam.html">
            <h4>{{exam.dictionary.name}} <small class="text-secondary">Exam Practice</small></h4>
            <hr />
            <form ng-hide="exam.showScore" ng-submit="exam.submitExam();">
                <div ng-show="exam.questions.trueOrFalse.length > 0" class="pt-3 pb-3">
                    <h5>True or False</h5>
                    <div class="container">
                        <div ng-repeat="question in exam.questions.trueOrFalse track by $index" class="pb-3">
                            <p>{{($index + 1)}}. <b>{{question.arg}}</b> - {{question.text}}</p>
                            <div class="container">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" ng-model="question.attempt" ng-value="true">
                                        True
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" ng-model="question.attempt" ng-value="false">
                                        False
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="exam.questions.multipleChoice.length > 0" class="pt-3 pb-3">
                    <h5>Multiple Choice</h5>
                    <div class="container">
                        <div ng-repeat="question in exam.questions.multipleChoice track by $index" class="pb-3">
                            <p>{{($index + 1)}}. {{question.text}}</p>
                            <div class="container">
                                <div class="form-check" ng-repeat="choice in question.choices track by $index">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" ng-model="question.attempt" value="{{choice}}">
                                        {{choice}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="exam.questions.matchingType.questions.length > 0" class="pt-3 pb-3">
                    <h5>Matching Type</h5>
                    <div class="container">
                        <div class="rounded border p-3 mb-3 mt-4">
                            <span class="p-2" ng-repeat="choice in exam.questions.matchingType.choices track by $index"><b>{{choice.letter}}</b>. {{choice.term}}</span>
                        </div>


                        <div ng-repeat="question in exam.questions.matchingType.questions track by $index" class="pb-3">
                            <p>{{($index + 1)}}. {{question.text}}</p>
                            <div class="container">
                                <select class="form-control" ng-model="question.attempt">
                                    <option ng-repeat="choice in exam.questions.matchingType.choices track by $index" value="{{choice.letter}}">{{choice.letter}} - {{choice.term}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="exam.questions.identification.length > 0" class="pt-3 pb-3">
                    <h5>Identification</h5>
                    <div class="container">
                        <div ng-repeat="question in exam.questions.identification track by $index" class="pb-3">
                            <p>{{($index + 1)}}. {{question.text}}</p>
                            <div class="container">
                                <label>
                                    <input type="text" ng-model="question.attempt" class="form-control" />
                                </label>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="pb-5"></div>
            </form>
            <div ng-show="exam.showScore">
                <div class="text-right">
                    <h1>
                        <small>Score: </small>
                        {{exam.score}}/{{exam.perfectScore}}
                    </h1>
                </div>

                <div ng-show="exam.questions.trueOrFalse.length > 0" class="pt-3 pb-3">
                    <h5>True or False</h5>
                    <div class="container">
                        <div ng-repeat="question in exam.questions.trueOrFalse track by $index" class="pb-3">
                            <p>{{($index + 1)}}. <b>{{question.arg}}</b> - {{question.text}}</p>
                            <p>Correct Answer: <b>{{question.answer}}</b></p>
                            <div class="alert alert-{{(question.correct)?'success':'danger'}}" role="alert">
                                Your Answer: <b>{{question.attempt}}</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="exam.questions.multipleChoice.length > 0" class="pt-3 pb-3">
                    <h5>Multiple Choice</h5>
                    <div class="container">
                        <div ng-repeat="question in exam.questions.multipleChoice track by $index" class="pb-3">
                            <p>{{($index + 1)}}. {{question.text}}</p>
                            <p>Correct Answer: <b>{{question.answer}}</b></p>
                            <div class="alert alert-{{(question.correct)?'success':'danger'}}" role="alert">
                                Your Answer: <b>{{question.attempt}}</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="exam.questions.matchingType.questions.length > 0" class="pt-3 pb-3">
                    <h5>Matching Type</h5>
                    <div class="container">
                        <div class="rounded border p-3 mb-3 mt-4">
                            <span class="p-2" ng-repeat="choice in exam.questions.matchingType.choices track by $index"><b>{{choice.letter}}</b>. {{choice.term}}</span>
                        </div>
                        <div ng-repeat="question in exam.questions.matchingType.questions track by $index" class="pb-3">
                            <p>{{($index + 1)}}. {{question.text}}</p>
                            <p>Correct Answer: <b>{{question.answer}}</b></p>
                            <div class="alert alert-{{(question.correct)?'success':'danger'}}" role="alert">
                                Your Answer: <b>{{question.attempt}}</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="exam.questions.identification.length > 0" class="pt-3 pb-3">
                    <h5>Identification</h5>
                    <div class="container">
                        <div ng-repeat="question in exam.questions.identification track by $index" class="pb-3">
                            <p>{{($index + 1)}}. {{question.text}}</p>
                            <p>Correct Answer: <b>{{question.answer}}</b></p>
                            <div class="alert alert-{{(question.correct)?'success':'danger'}}" role="alert">
                                Your Answer: <b>{{question.attempt}}</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <a href="#/dictionaries" class="btn btn-outline-primary">Go back to dictionaries</a>
                    <button type="submit" ng-click="exam.init();" class="btn btn-primary">Click here to retry</button>
                </div>
                <div class="pb-5"></div>
            </div>
        </script>
        <!--<script type="text/ng-template" id="template.html">
            <h4>Template</h4>
            <hr />
        </script>-->
    </body>
</html>